.buttonList{
    background: white;
      border: 1px solid #005082;
      box-sizing: border-box;
      border-radius: 25px;
      color: #005082;
      width: 100%;
      font-weight: bold;
    }
    .product{
      margin-top: 15px;
      margin-bottom: 15px;
    }