.containerProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 70px;
  padding: 21px;
}
.productSearch {
  margin-top: 30px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 46px;
  /* identical to box height, or 194% */

  text-align: center;
  letter-spacing: 1px;
  font-feature-settings: "salt" on, "liga" off;

  color: #333337;
}
.containerPagination {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .containerPagination {
  flex-direction: column;
  }
}

.pagination {
}
.paginationA {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;

  color: #005082;
}
