.container {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  text-decoration: none;
  min-height: 600px;
}

.container:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}
.button {
  background-color: #014c7c;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}
.containerImg {
  height: 50%;
}
.containerImg img {
  width: 100%;
  height: 100%;
}
.containerInfo {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerLabel {
  display: flex;
  justify-content: flex-end;
}
.label {
  background-color: rgba(75, 211, 81, 0.13);
  border-radius: 4px;
  padding: 4px 29px;
}
