.container {
  margin: 4%;
  margin-top: 7%;
  background-color: white;
  display: grid;
  grid-template-columns: 1.7fr 1.3r;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: ". .";
  gap: 20px;
}
.containerImg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.title {
  font-size: 130%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 3.69231px;
  text-transform: uppercase;
}
.image {
  width: 589px;
  height: 328px;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.13));
  border-radius: 12px;
  object-fit: contain;
}
@media (max-width: 768px) {
  .image {
 display: none;
  }
  .containerImg{
    display: none;
  }
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.segment {
  margin-top: 10px;
  background: #0d84ce;
  width: 8%;
  height: 10px;
  margin-bottom: 20px;
}
.menu{
  height: 60px;
  background-color: #005082;
}
