/* .container {
    min-width: 1440px;
} */

.btn-nav .btn {
    border-radius: 25px;
    font-weight: bold;
}


/* .btn-nav .outline-success {
    margin-right: 12px !important;
} */

.menu .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-right: 16px;
}

.nav-link-light {
    color: white !important;
}

.nav-link-light .nav-link {
    color: white !important;
}


/* .colors {
    background: -moz-linear-gradient(90deg, #DBDCE0 50%, #3A94F6 50%);
    background: -webkit-linear-gradient(90deg, #DBDCE0 50%, #3A94F6 50%);
    background: linear-gradient(90deg, #DBDCE0 50%, #3A94F6 50%);
} */

.logo {
    max-width: 190px;
}

.ht-100 {
    height: 100vh;
}

@media (max-width: 575.98px) {
    .ht-100 {
        height: 80vh;
    }
}